/* [ Site wide control ] */
*{
    padding:0;
    margin:0;
    cursor:none;
}


/* X X X X X [Display settings] X X X X X */

/* [ - - [ MASTER ] - - ]*/
.PRESISTENTS{display:show;}


/* [ Cursor ]*/
.cursor {
    position: fixed;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ffffff;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: width 0.3s, height 0.3s, background-color 0.3s;
    z-index: 100;
}


/* children */
.cursor-trailer {
    position: fixed;
    width: 40px;
    height: 40px;
    border: 2px solid #969696;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    opacity: 0.5;
    transition: width 0.5s, height 0.5s, opacity 0.5s;
    z-index: 100;
}

/* [ Loader ]*/
#Loader{
    display:none;

    position:absolute;
    z-index:100;
    width:100%;
    height:100%;
    background-color:black;
}

/* [ Bars ] */
.Bars{
    display:show;
    height: 100%;
    width: 100%;
    
}

/* ( Navigaation ) */
#navi{
    position: absolute;
    height: 5%;
    width: 100%;
    background-color: rgb(0, 122, 230);
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navi li{
       display: inline-block;
         padding: 10px 20px;
}

/* children */
#nav_home{}
#nav_about{}
#nav_projects{}
#nav_misc{}

/* ( Footer ) */
#foot{position: fixed;
    height: 10%;
    width: 100%;
    background-color: rgb(65, 75, 83);
    bottom: 0;
    }

/* children */
/* [Muse] */
#Muse{display: show;}

/* children */
#progress_bar{ 
    position: absolute;
    right: 50%;
    width: 60%; 
    height: 15px; 
    margin: 15px;
    background-color: blueviolet;
    transform: translateX(50%);
border-radius: 20px;}

#progress_runner{width: 97%; 
    position:relative; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
    height: 4px; 
    background-color: rgb(255, 255, 255); 
    border-radius: 10px;}

#audio_controls{position: absolute;
    transform: translate(-50%, -50%);
    top:50%;
     left:50% }  
     #audio_controls img{padding: 20px;}

/* [ - - [ MASTER ] - - ]*/
.CORE{display:show;}

/* [ Home ] */
#Home{display:show;}

/* children */
#h_label{}
#h_text{}
#h_side{}


/* [ About ] */
#About{display:none;}

/* children */
#a_lable{}
#a_box{}

/* [ Projects ] */
#Projects{display:none;}

/* children */
#p_lable{}
#p_box{}
#a_projects{}
#c_projects{}
#w_projects{}


/* [ Misc ] */
#Misc{display:none;}

/* children */
#m_lable{}
#m_box{}
